* {
    padding: 0;
    margin: 0;

}

body,
html {
    height: 100%;
    margin: 0;
    overflow-x: hidden
}


button {
    text-decoration: none;
}

.btn {
    text-shadow: 0.5px 0.5px 8px white;
}


.header h1 {
    font-size: 58px;
    color: white;
    text-shadow: 0.5px 0.5px 8px white;
    padding-top: 80px;
}

.signup-form {
     max-width: 450px;
    margin: auto;
    box-shadow: 1px 1px 15px darkblue;
    padding: 30px;
    border-radius: 3px;
}






